
.customerCard {
    box-shadow: 0px 0px 4px 4px #DDD;
    margin: 1em 1em;
}

.accordion {
    cursor:pointer;
}

.dashboardHeader p{
    text-align: center;
    font-weight: bold;
    flex:1;
}

.dashboardHeader{
    margin: 1em 1em;
}

.customerCardText{
    width:100%;
    display:flex;
    justify-content: center;
}
.customerCardText p{
word-break:break-word;
text-align: center;
display:inline-block;
}

.hide{
    display:none;
}

.navbar{
    border-bottom: 1px solid #DDD;
}

.navbar div{
    flex:1;
}

#lastNavbarItem{
    display: flex;
    justify-content: flex-end;
}

#lastNavbarItem button{
    margin: 1em;
    background-color: #1e8105;
    color:white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    cursor: pointer;
}

.overlay{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background: rgba(221, 221, 221, 0.548);
    z-index: 4;
}

#editUserContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    padding:3em;
    background: #FFF;
}

.changeUser > div{
    margin: 0.5em;
    display:flex;
    flex-direction: row; 
}

.changeUser .addressContainer {
    display: flex;  
    flex-direction: column;
}
.addressContainer div{
    margin: 0.1em
}

.navbar h3{
    text-align: center;
}

#loginWrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginWrapper form{
    display: flex;
    flex-direction: column;
}

#loginWrapper form>*{
    margin:10px
}